{% load static %}
<div class="">
    <div id="owl-demo" class="owl-carousel owl-theme">
        {% for i in images%}
            {% if i.img_type == 'gallery' %}
                <div class="item"><img
                src="{{i.item.url}}"
                class="w-100 h-68"
                alt="..." /></div>
            {% endif %} 
        {% endfor %}
    </div>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script>
    $(document).ready(function() {
 
        $("#owl-demo").owlCarousel({
       
            navigation : true, // Show next and prev buttons
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem:true
       
            // "singleItem:true" is a shortcut for:
            // items : 1, 
            // itemsDesktop : false,
            // itemsDesktopSmall : false,
            // itemsTablet: false,
            // itemsMobile : false
       
        });
       
      });
  </script>