{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owlcarousel/owl.theme.default.min.css' %">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %} {% endblock title %}</title>

    <!--  -->
    {% block extra_heads %}
    <!--  -->
    {% endblock extra_heads %}
    <!--  -->
  </head>
  <body>
    <!--  -->
    {% block content %}
    <!--  -->
    {% endblock content %}
    <!--  -->

    <!--  -->
    {% block javascripts %}
    <!--  -->
    
    {% endblock javascripts %}
    <!--  -->
  </body>
</html>
